<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header style="display: flex; justify-content : space-around; background-color : #333333;; padding :10px;">

    <h1 style="padding-left:50px; font-size:40px; color : #e6b3ff;">Code Fellows App</h1>
    <a style="margin:auto; text-decoration: none;border : 3px solid #ccc ;padding :10px;margin-left:50%; color : #e6b3ff;}
 " href="http://localhost:8080/signup">Sign Up</a>
    <a style="margin:auto; text-decoration: none;border : 3px solid #ccc ;padding :10px;color : #e6b3ff;}
 " href="http://localhost:8080/login">Login</a>
    <a style="margin:auto; text-decoration: none;border : 3px solid #ccc ;padding :10px;color : #e6b3ff;}
 "  th:href="@{http://localhost:8080/profile(id=${applicationUser})}">Profile</a>

</header>

<div style=" padding-top:10%; font-size:37px; width:50%; margin :auto">
<p>CodeFellowship allows people learning to code , connect with each other and support each other on their coding journeys 😊 💜 </p>
</div>


<!--<h2>welcome to code fellows App</h2>-->
<!--<p>CodeFellowship that allows people learning to code to connect with each other and support each other on their coding journeys.</p>-->
<!--<header>-->
<!--    <a href="http://localhost:8080/signup" >Sign Up</a>-->
<!--    <a href="http://localhost:8080/login" >Login</a>-->
<!--    <a th:href="@{http://localhost:8080/profile(id=${applicationUser})}" >Profile</a>-->

<!--</header>-->
</body>
</html>