<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header style="display: flex; justify-content : space-around; background-color : #333333;; padding :10px;">

    <h1 style="padding-left:50px; font-size:40px; color : #e6b3ff;">Code Fellows App</h1>
    <a style="margin:auto; text-decoration: none;border : 3px solid #ccc ;padding :10px;margin-left:60%; color : #e6b3ff;}
 " href="http://localhost:8080/">Home</a>
    <a style="margin:auto; text-decoration: none;border : 3px solid #ccc ;padding :10px;color : #e6b3ff;}
 "  th:href="@{http://localhost:8080/profile(id=${applicationUser})}">Profile</a>
</header>

<form style="margin-top :100px; padding: 10px; border:1px solid black; width:35%; text-align:center;" action="/perform_login" method="post">
    <h2>Login</h2>
    <label>Username</label>
    <input type="text" name="username" id="username">
    <br/><br/>
    <label>Password</label>
    <input type="text" name="password" id="password">
    <br/><br/>
    <input style="background-color: #e6b3ff; padding:10px; width:200px;" type="submit">
</form>

</body>
</html>